/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    color: whitesmoke;
    padding: 1rem 0;
    text-align: center;
    margin: 4%;
    background-color: darkgray;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 12px;

}

header nav ul {
    list-style: none;
}

header nav ul li {
    display: inline;
    margin: 0 10px;
}

header nav ul li a {
    color: whitesmoke;
    text-decoration: none;
    
}

main {
    padding: 1rem;
}

section {
    margin-bottom: 2rem;
}

footer {
    background: darkgray;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin: 0.5rem 0 0.2rem;
}

form input, form textarea {
    padding: 0.5rem;
    margin-bottom: 1rem;
}

form button {
    padding: 0.5rem;
    background: darkgray;
    color: #fff;
    border: none;
    cursor: pointer;
}

form button:hover {
    background: darkgray;
}

/*rotating pic css*/
.carousel {
    position: relative;
    max-width: 600px; /* Adjust as needed */
    margin: 0 auto;
    overflow: hidden;
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slides img {
    width: 100%;
    object-fit: cover;
}

button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
    z-index: 2;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}
